.registration {
    width: 1217px;
    min-height: 600px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.25);

}

.title {
    color: #525252;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .subtitle {
    color: #a251e1;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }