<div>
    <div class="row discussion" *ngIf="friend.first_name">
        <div class="col-8 conv">
            <app-conversation [friend]="friend" [user]="user"></app-conversation>
        </div>
        <div class="col-4">
            <app-rightsidebar recieverFirst_Name="{{friend.first_name}}" recieverlast_Name="{{friend.last_name}}"
                recieverSourceImg="{{friend.image}}"></app-rightsidebar>
        </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="!friend.first_name">
        <p>CHOOSE A PERSON TO DISCUSS WITH.</p>
    </div>
</div>