.circle-container {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.teams {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}

.name {
  color: #a1a1a1;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
